@import url('https://fonts.googleapis.com/css2?family=Eczar:wght@400;500;600;700;800&family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');

.App {
  text-align: center;
}

h1 {
  font-family: 'Eczar', serif;
  font-weight: 600;
  font-size: x-large;
  color: #F5F3C2;
}

h2 {
  font-family: 'Eczar', serif;
  font-weight: 500;
  font-size: large;
  color: #FFFFFF;
}

h3 {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 500;
  font-size: medium;
  color: #FFFFFFAA;
}

h4 {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 500;
}

p{
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 0.875rem;
  color: white;
}

tr {
  color: #fff;
}

th {
  font-family: 'Eczar', serif;  
}

td {
  font-family: 'Source Sans Pro', sans-serif;
}

input {
  font-family: 'Source Sans Pro', sans-serif;
}

.aspect-image {
  aspect-ratio: 10 / 16;
}

.scrollbar-y::-webkit-scrollbar {
  width: 6px;
}

.scrollbar-y::-webkit-scrollbar-thumb {
  background-color: #FFFFFF80;
  background-clip: content-box;
  width: 6px;
  min-height: 64px;
  border-radius: 100px;
  cursor: pointer;
}

.scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #FFFFFF60;
  width: 6px;
}

.scrollbar::-webkit-scrollbar-track {
  background-color: rgba(0,0,0,0);
}

.options-container {
  max-height: max(670px, 75%);
  max-width: max(1160px, 65%);
}

.rtl-grid {
  direction: rtl;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
